* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

/* HEADER */

header {
  background-color: rgb(51, 175, 163);
  color: whitesmoke;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}

header p.name {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

header nav {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: right;
  padding: 0.5rem;
  margin-right: 1rem;
  grid-gap: 5px;
}

header nav .nav-element {
  display: inline-block;
  background-color: whitesmoke;
  border-radius: 5px;
}

header nav .nav-element p.main-nav-element {
  text-align: center;
}

header nav .nav-element p.main-nav-element a.main-nav {
  display: block;
  text-decoration: none;
  padding: 0.3rem;

  color: rgb(51, 175, 163);
  font-weight: bold;
}

/* MAIN */

main {
  background-color: rgb(51, 175, 163);
  color: whitesmoke;
  border-bottom: 5px black solid;
}

main .header-center {
  margin: auto;
  width: 55ch;
}

main h1.heading {
  font-size: 5rem;
  line-height: 6rem;
  padding-top: 5rem;
  text-align: left;
}

main p.statement {
  width: 55ch;
  margin: 3rem 0 5rem 0;
  line-height: 2rem;
  font-size: 1.2rem;
}

main p.statement strong {
  color: black;
}

main p.statement em {
  text-decoration: underline;
  text-decoration-color: black;
}

section.about-me {
  background-color: whitesmoke;
  border-bottom: solid black 5px;
}

h2 {
  text-align: center;
  padding: 3rem;
}

section.about-me .intro {
  margin: auto;
  width: 55ch;
}

h3 {
  margin: 2rem 0 2rem 0;
}

section.about-me .intro .intro-text {
  width: 55ch;
  line-height: 1.5rem;
}

section.about-me .skills {
  margin: auto;
  width: 55ch;
  line-height: 1.5rem;
}

section.about-me .skills .tech-skills-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 100px;
  margin-left: 2rem;
  line-height: 1.5rem;
}

/* PORTFOLIO */
section.portfolio {
  background-color: pink;
  border-bottom: black solid 5px;
}

section.portfolio .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 50px;
  margin: auto;
  width: 1000px;
}

section.portfolio .projects .project1 {
  display: grid;
  grid-template-rows: 50px 200px 60px;
}

section.portfolio .projects .project2 {
  display: grid;
  grid-template-rows: 50px 200px 60px;
}

section.portfolio .projects .project3 {
  display: grid;
  grid-template-rows: 50px 200px 60px;
}

section.portfolio .projects .project1,
section.portfolio .projects .project2,
section.portfolio .projects .project3 {
  border: solid darkred 5px;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 3rem;
}

h4 {
  text-align: left;
  margin-bottom: 1rem;
}

section.portfolio .projects .project1 p a.project-link,
section.portfolio .projects .project2 p a.project-link,
section.portfolio .projects .project3 p a.project-link {
  text-align: center;
}

section.portfolio .projects .project1 a.project-link,
section.portfolio .projects .project2 a.project-link,
section.portfolio .projects .project3 a.project-link {
  display: block;
  width: 250px;
  background-color: darkred;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.3rem;
  font-weight: bold;
}

section.portfolio .projects .project1 .project-links,
section.portfolio .projects .project2 .project-links,
section.portfolio .projects .project3 .project-links {
  display: grid;
  grid-template-rows: 30px 30px;
  place-items: center;
}

section.portfolio .projects .project1 .project-links .github p,
section.portfolio .projects .project2 .project-links .github p,
section.portfolio .projects .project3 .project-links .github p {
  margin: auto;
}

section.portfolio .projects .project1 .project-links .github p a.github-link,
section.portfolio .projects .project2 .project-links .github p a.github-link,
section.portfolio .projects .project3 .project-links .github p a.github-link {
  color: darkred;
  text-decoration: none;
}

section.experience {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-bottom: black solid 5px;
}

section.experience .job {
  margin: auto;
  width: 800px;
  padding-bottom: 3rem;
}

section.experience .job .job-title {
  margin-bottom: 1.5rem;
}

footer {
  background-color: midnightblue;
}

footer .copyright p {
  color: white;
  padding: 2rem;
}

footer .back-to-top-button {
  position: sticky;
  border: black solid 2px;
  background-color: red;
  width: 200px;
  margin-right: 0;
  margin-left: auto;
}

footer .back-to-top-button p.back-to-top {
  text-align: right;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

footer .back-to-top-button p.back-to-top a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  padding: 2rem;
}

.info {
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 1034px) {
  section.portfolio .projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 827px) {
  section.experience .job {
    width: 500px;
  }
}

@media screen and (max-width: 681px) {
  main p.statement {
    width: 40ch;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 560px) {
  section.experience .job {
    width: 300px;
  }

  main p.statement {
    width: 30ch;
    margin-left: 2rem;
  }
}
