* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}

/* HEADER */

header {
  background-color: rgb(51, 175, 163);
  color: whitesmoke;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}

header p.name {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

header nav {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: right;
  padding: 0.5rem;
  margin-right: 1rem;
  grid-gap: 5px;
}

header nav .nav-element {
  display: inline-block;
  background-color: whitesmoke;
  border-radius: 5px;
}

header nav .nav-element p.main-nav-element {
  text-align: center;
}

header nav .nav-element p.main-nav-element a.main-nav {
  display: block;
  text-decoration: none;
  padding: 0.3rem;

  color: rgb(51, 175, 163);
  font-weight: bold;
}

/* MAIN */

main {
  background-color: rgb(51, 175, 163);
  color: whitesmoke;
  border-bottom: 5px black solid;
}

main .header-center {
  margin: auto;
  width: 55ch;
}

main h1.heading {
  font-size: 5rem;
  line-height: 6rem;
  padding-top: 5rem;
  text-align: left;
}

main p.statement {
  width: 55ch;
  margin: 3rem 0 5rem 0;
  line-height: 2rem;
  font-size: 1.2rem;
}

main p.statement strong {
  color: black;
}

main p.statement em {
  text-decoration: underline;
  text-decoration-color: black;
}

section.about-me {
  background-color: whitesmoke;
  border-bottom: solid black 5px;
}

h2 {
  text-align: center;
  padding: 3rem;
}

section.about-me .intro {
  margin: auto;
  width: 55ch;
}

h3 {
  margin: 2rem 0 2rem 0;
}

section.about-me .intro .intro-text {
  width: 55ch;
  line-height: 1.5rem;
}

section.about-me .skills {
  margin: auto;
  width: 55ch;
  line-height: 1.5rem;
}

section.about-me .skills .tech-skills-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 100px;
  margin-left: 2rem;
  line-height: 1.5rem;
}

/* PORTFOLIO */
section.portfolio {
  background-color: pink;
  border-bottom: black solid 5px;
}

section.portfolio .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 50px;
  margin: auto;
  width: 1000px;
}

section.portfolio .projects .project1 {
  display: grid;
  grid-template-rows: 50px 200px 60px;
}

section.portfolio .projects .project2 {
  display: grid;
  grid-template-rows: 50px 200px 60px;
}

section.portfolio .projects .project3 {
  display: grid;
  grid-template-rows: 50px 200px 60px;
}

section.portfolio .projects .project1,
section.portfolio .projects .project2,
section.portfolio .projects .project3 {
  border: solid darkred 5px;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 3rem;
}

h4 {
  text-align: left;
  margin-bottom: 1rem;
}

section.portfolio .projects .project1 p a.project-link,
section.portfolio .projects .project2 p a.project-link,
section.portfolio .projects .project3 p a.project-link {
  text-align: center;
}

section.portfolio .projects .project1 a.project-link,
section.portfolio .projects .project2 a.project-link,
section.portfolio .projects .project3 a.project-link {
  display: block;
  width: 250px;
  background-color: darkred;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.3rem;
  font-weight: bold;
}

section.portfolio .projects .project1 .project-links,
section.portfolio .projects .project2 .project-links,
section.portfolio .projects .project3 .project-links {
  display: grid;
  grid-template-rows: 30px 30px;
  place-items: center;
}

section.portfolio .projects .project1 .project-links .github p,
section.portfolio .projects .project2 .project-links .github p,
section.portfolio .projects .project3 .project-links .github p {
  margin: auto;
}

section.portfolio .projects .project1 .project-links .github p a.github-link,
section.portfolio .projects .project2 .project-links .github p a.github-link,
section.portfolio .projects .project3 .project-links .github p a.github-link {
  color: darkred;
  text-decoration: none;
}

section.experience {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-bottom: black solid 5px;
}

section.experience .job {
  margin: auto;
  width: 800px;
  padding-bottom: 3rem;
}

section.experience .job .job-title {
  margin-bottom: 1.5rem;
}

footer {
  background-color: midnightblue;
}

footer .copyright p {
  color: white;
  padding: 2rem;
}

footer .back-to-top-button {
  position: sticky;
  border: black solid 2px;
  background-color: red;
  width: 200px;
  margin-right: 0;
  margin-left: auto;
}

footer .back-to-top-button p.back-to-top {
  text-align: right;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

footer .back-to-top-button p.back-to-top a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

h1 {
  text-align: center;
  padding: 2rem;
}

.info {
  width: 500px;
  margin: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1062px) {
  section.portfolio .projects {
    max-width: 600px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 827px) {
  section.experience .job {
    width: 500px;
  }
}

@media screen and (max-width: 680px) {
  main p.statement {
    width: 35ch;
    margin-left: 2rem;
  }

  section.portfolio .projects {
    max-width: 500px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 539px) {
  header nav {
    display: inline-block;
    margin: 2rem 10rem;
    padding: 0;
    max-width: 10rem;
  }

  header nav .nav-element {
    margin-bottom: 1rem;
  }

  header nav .nav-element main .header-center {
    max-width: 20rem;
  }

  main .header-center h1.heading {
    font-size: 3rem;
  }

  section.about-me .intro {
    max-width: 15rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

  section.about-me .intro p.intro-text {
    max-width: 20rem;
  }

  section.about-me .skills {
    max-width: 15rem;
    margin-left: 4rem;
  }

  section.about-me .skills h3 {
    margin-bottom: 2rem;
  }

  section.about-me .skills .tech-skills-container {
    margin-left: 2rem;
    margin-bottom: 1rem;
    grid-gap: 1rem;
    padding: 0;
  }

  section.about-me .skills .tech-skills-container .front-end {
    margin: 0;
    padding: 0;
  }

  section.experience .job {
    width: 30rem;
  }

  main p.statement {
    width: 30ch;
    margin-left: 2rem;
  }

  section.portfolio .projects {
    max-width: 400px;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 499px) {
  header nav {
    width: 6rem;
    margin-right: 1rem;
    margin-left: 5rem;
    padding-right: 0;
  }

  header nav .nav-element {
    margin-left: 0rem;
  }
  main .header-center {
    width: 20rem;
  }
  main .header-center h1.heading {
    font-size: 3rem;
  }

  main p.statement {
    width: 15rem;
  }

  section.about-me {
    padding: 2rem;
  }

  section.about-me .intro .intro-text {
    width: 15rem;
  }

  section.about-me .skills .tech-skills-container {
    margin-left: 1.5rem;
  }

  section.portfolio .projects {
    width: 15rem;
    margin-left: 3rem;
  }

  section.experience {
    grid-gap: 3rem;
  }

  section.experience .job {
    width: 15rem;
  }
}

@media screen and (max-width: 375) {
  header {
    grid-template-columns: 50px 50px;
    grid-gap: 5px;
  }

  header p.name {
    margin: 0;
    font-size: 0.2rem;
  }

  header nav {
    width: 0rem;
    margin-left: 0rem;
    margin-right: 0;
  }

  header nav .nav-element {
    margin: 0;
    padding: 0;
  }

  header nav .nav-element p.main-nav-element {
    margin-left: 0;
  }

  main h1.heading {
    font-size: 0.3rem;
  }

  section.about-me .intro .intro-text {
    width: 25ch;
  }

  section.about-me .skills .tech-skills-container {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 375) {
  header {
    grid-template-columns: 30px 30px;
  }

  header p.name {
    font-size: 0.5rem;
  }
}
